In [4]:
import pandas as pd
import mysql.connector as msql
from mysql.connector import Error

In [5]:
card_type = pd.read_csv('../data/card_type.csv')

In [6]:
card_type.head()

   card_type_id card_type card_network                          privilege
0             1    Bronze   MasterCard    Bronze plus MasterCard benefits
1             2    Silver   MasterCard    Silver plus MasterCard benefits
2             3      Gold   MasterCard      Gold plus MasterCard benefits
3             4  Platinum   MasterCard  Platinum plus MasterCard benefits
4             5   Diamond   MasterCard   Diamond plus MasterCard benefits